<div class="marginContent">
  <mat-card>
    <form fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100" fxFlex.gt-sm="100"
          [formGroup]="questionForm" (ngSubmit)="onQuestionFormSubmit(questionForm.value)">
      <mat-card-header>
        <mat-card-title>
          <h2>EDIT QUESTION</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-form-field fxFlex>
        <mat-label>Question</mat-label>
        <textarea matInput formControlName="question" placeholder="Question" autocomplete="off" rows="5"></textarea>
        <mat-error *ngIf="questionForm.controls.question.errors?.required">Question is required</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Image</mat-label>
        <input matInput formControlName="image" placeholder="Image" autocomplete="off" className="">
        <p>
          <input type="file"
                 id="file"
                 #userPhoto
                 (change)="onFileSelected($event)"
                 name="image"
                 autocomplete="off"
          />
        </p>
        <div *ngIf="image_url" class="list">
          <img src="{{ image_url }}" alt=""/>
        </div>
      </mat-form-field>

      <div formArrayName="answers" *ngFor="let answer of questionForm.controls.answers['controls']; let i=index"
           fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx" style="width: 50%">
        <mat-form-field fxFlex>
          <input matInput placeholder="Answer" formControlName="{{i}}" required>
          <mat-icon *ngIf="correctAnswer==answer.value" matSuffix color="primary">check</mat-icon>
        </mat-form-field>
      </div>
      <mat-form-field fxFlex>
        <mat-label>Correct Answer</mat-label>
        <input matInput placeholder="{{correctAnswer}}" formControlName="answerRight" class="correct-answer" required>
      </mat-form-field>

      <mat-checkbox formControlName="status">PUBLISH</mat-checkbox>

      <mat-card-actions>
        <button mat-raised-button color="primary">SAVE CHANGES</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
